@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');
*{
  margin:0;
  padding:0;
}
body{
  font-family: 'Poppins', sans-serif;

}

.profile{
  position: fixed;
  left: 0;
  top: 0;
  width: 16.666667%;
  height: 100vh;

  background : #111418;
}
.profile img{
  width : 90%;
  border-radius: 50%;
  border : 10px solid #343A40;
}
.profile h4{
  color : #fff;
  margin : 10px 0;
  margin-bottom: 20px;
}
.profile ul{
  list-style: none;
}
.profile ul li{
  padding : 8px 0;
  cursor: pointer;
}
.profile ul li:last-child{
  padding-bottom: 0;
}
.profile ul li a{
  color : #eee;
  font-weight: 200;
  transition: 0.2s ease;
}
.profile ul li:hover a{
  color : #1EBA8C;
  text-decoration: none;
}
.nav{
  background : #111418;
  height: 65px;
  padding : 15px;
  user-select: none;
  position: fixed;
  z-index:999;


}
.fa{
  color : #90969a;
}
.button{
  margin-top: -7px;
  cursor: pointer;
  width: 30px;
  float: right;
  letter-spacing: -3px;
}
.button span{
  font-family: arial;
  display: block;
  height : 7px;
  /* font-weight: bold; */
}
.header{
  position: relative;
}
.menu{
  padding : 15px;
  padding-bottom: 0px;
  background: rgba(0,0,0,0.8);
  position: absolute;
  left : 0;
  top : 65px;
  width : 100%;
  z-index: 9999;
  display: none;
}
.menu ul{
  list-style: none;
}
.menu ul li{
  padding : 7px 0;
  border-bottom: 1px solid #7d7676;
}
.menu ul li:last-child{
  border : none;
}
.menu ul li a{
  color : #eee;
  font-size: 16px;
  transition: 0.2s ease;
}
.menu ul li:hover a{
  color : #1EBA8C;
  text-decoration: none;
}
.menu ul li a:active{
  color : red;
}
.welcome{
  background : url("../img/slider-img3.jpg");
  background-attachment: fixed;
  height: 100vh;
  min-height: 500px;
  z-index: -9;

  text-align: center;
  overflow: hidden;
  /* position: relative; */
}
/* .welcome::before{
  content: "";
  position: absolute;
  top : 0;
  left : 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);

} */
.wrap{
  position: relative;
  top : 0;
  left : 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.7);
  padding-top : 20%;
}
.welcome h3{
  /* margin-top : 20%; */
  color : #fff;
  font-weight: 500;
  margin-bottom: 20px;

}
.welcome h2{
  color : #fff;
  font-weight: 600;
  margin-bottom: 20px;
}
.welcome p{
  color : #DEE3E4;
  margin-bottom: 50px;
  letter-spacing: 2px;
}
.welcome a{
  color : #20C997;
  border : 2px solid #20C997;
  background: transparent;
  padding : 12px 42px;
  border-radius: 50px;
}
.welcome a:hover{
  text-decoration: none;
  background : #20c997;
  color : #fff;
}

.title{
  padding : 50px;
  position : relative;
}
.title h1{
  font-weight: bolder;
  font-size : 130px;
  text-align: center;
  opacity: 0.1;
  letter-spacing: 5px;
}
.title h2{
  position: absolute;
  top : 40%;
  left : 40%;
  opacity: 1;
  letter-spacing: 1px;
  font-weight: bold;
  font-size : 36px;
}
.title span{
  height: 3px;
  width: 80px;
  background: #20c997;
  display: block;
  /* margin-left: 35%; */
  text-align: center;
  margin-left : 25%;
  margin-top: 5px;
}

.about-me{
  max-width: 54%;
  margin-right: 4%;
}
.about-me h2{

}
.about-me h2 span{
  color : #20c997;
}
.about-me p{
  line-height: 27px;
}
.email{
  color : #20c997;
}

.experiance{
  margin-bottom: 50px;
}
.experiance .experiance-child{
  border-right: 1px dotted #ddd;
  text-align: center;
}
.experiance .experiance-child h2{
  font-weight: bold;
  font-size: 50px;
  color : #888;
}
.experiance .experiance-child p{
  font-size: 20px;
}

.service{
  background : #F8F9FA;
}
.web-img{
  color : #20c997;
  background: #fff;
  padding : 20px;
  border-radius: 5px;
}
.web p{
  color: #4c4d4d;
  line-height: 28px;
}
.education-main h2{
  font-weight: bold;
  margin : 20px 0;
}
.education{
  border : 1px solid #ddd;
  margin-bottom: 30px;
  border-radius: 3px;
  padding : 20px;
  height : 325px;
  overflow: auto;
}
.education span{
  background: #20c997;
  padding : 3px 6px;
  color : #fff;
  border-radius: 5px;
  font-size: 14px;
}
.education h2{
  font-weight: normal;
  margin : 15px 0;
}
.education .p1{
  color: #d84714;
  font-size: 18px;
  margin-bottom: 5px;

}
.education .p2{

}

.progress{
  height : 8px;
}
.progress-bar{
  background : none;
}

.skill p{
  margin-bottom: 8px;
  font-weight:  600;
}

ul.project{

}
ul.project li:hover{
  border-bottom: 2px solid #20C997;
  margin-bottom : -2px;

}
ul.project li a{
  color : #000;
}
ul.project li a:hover{
  text-decoration: none;
  color : #20c997;
}

.client{
  background: #F8F9FA;
  padding : 40px !important;
  border-radius: 5px;
  overflow: scroll;
  height : 315px;

}

.client img{
  width: 70px;
  border-radius: 50%;
  margin-right: 20px;
}
.client h4{
  margin-top : 5px;
}
.client h5{
  margin-bottom: 20px;
}
.client p{
  line-height: 28px;
}
.contact{
  background: #F8F9FA;
}
.contact{

}
.name{
  width: 98%;
  margin-right: 2%;
}
.mail{
  width: 98%;
  margin-left: 2%;
}
.buttons{
  border-radius: 50px;
  color: #fff;
  background: #20c997;
  height: 50px;
  border: none;
  letter-spacing: 1px
}
.buttons:hover{
  color : #fff;
  background : #217760;
}
a.fab{
  font-size : 16px;
  transition: 0.3s ease;
}
a.fab:nth-child(1):hover{
  color: #20c997;
  font-size: 20px;
}
a.fab:nth-child(2):hover{
  color: #FC5431;
  font-size: 20px;
}
a.fab:nth-child(3):hover{
  color: #F7C640;
  font-size: 20px;
}
a.fab:nth-child(4):hover{
  color: #568AF2;
  font-size: 20px;
}

.design{
  position: relative;
  transition : 0.5s ease;
  box-shadow: 0px 0px 5px black;
  max-width: 100%;


}
.design h2{
  font-size: 26px;
  text-align: center;
  margin-top : 5px;
}
.design img{

}
.design::before{
  content: "";
  position: absolute;
  left:0;
  top:0;
  width: 50%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  transition : 0.5s ease;
}
.design::after{
  content: "";
  position: absolute;
  right:0;
  top:0;
  width: 50%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  transition : 0.5s ease;
}
.design:hover{
  margin-top : -10px;
  margin-bottom : 30px !important;
}
.design:hover:before{
  width: 0;
}
.design:hover:after{
  width: 0;
}


#nav li.active a{
  color : #20C997 ;
}
.menu ul li.active2 a{
  color : #20c997;
}

.animate{
  width : 100%;
  background :#20C997;
  height : 10px;
  border-radius: 5px;
  animation-name: animate;
  animation-duration: 2s;
}
@keyframes animate {
  from{width : 0px;}
  to{width : 100%;}
}



.animates{
  /* width : 100%; */
  background :#20C997;
  height : 10px;
  border-radius: 5px;
  -webkit-animation: animates 5s  ease-in-out;
  -moz-animation:    animates 5s  ease-in-out;
  -o-animation:      animates 5s  ease-in-out;
  -ms-transition:    animates 5s  ease-in-out;
  animation-name: animates;
  animation-duration: 5s;
}
@-webkit-keyframes animates{
  from{width : 0px;}
  to{width : 100%;}
}

@-moz-keyframes animates{
  from{width : 0px;}
  to{width : 100%;}
}

@-o-keyframes animates {
  from{width : 0px;}
  to{width : 100%;}
}

@-ms-keyframes animates {
  from{width : 0px;}
  to{width : 100%;}
}

@keyframes animates {
  from{width : 0px;}
  to{width : 100%;}
}

/* Spinner Wrapper */
.loader {
    width: 100vw;
    height: 100vh;
    background: #111418;
    position: fixed;
    top: 0;
    left: 0;
    color : #fff;
    z-index: 9999;
}

.loader-inner {
    position: absolute;
    top: 50%;
    left: 50%;
    width : 350px;
    transform: translate(-50%, -50%);
}


/* Spinner */
.lds-roller {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
}
.lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 32px 32px;
}
.lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #fff;
    margin: -3px 0 0 -3px;
}
.lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
    top: 50px;
    left: 50px;
}
.lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
    top: 54px;
    left: 45px;
}
.lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
    top: 57px;
    left: 39px;
}
.lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
    top: 58px;
    left: 32px;
}
.lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
    top: 57px;
    left: 25px;
}
.lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
    top: 54px;
    left: 19px;
}
.lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
    top: 50px;
    left: 14px;
}
.lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
    top: 45px;
    left: 10px;
}
@keyframes lds-roller {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* spiner end */


.load{
  animation-duration: 2s;
  animation-delay: 0s;
  animation-iteration-count : infinite;
}


#toTop{
  position: fixed;
  right : 10px;
  bottom : 10px;
  width : 50px;
  height: 50px;
  border-radius: 50%;
  transform: rotate(-90deg);
  background: #1e2d65;



}
#toTop i{
  position: absolute;
  left: 15px;
  top: 15px;
  font-size: 20px;
  color: white;
}

.color{
  position: fixed;
  top : 40%;
  right : 0px;
  width : 40px;
  height : 40px;
  background : #555555;
  border-radius: 5px;
  cursor: pointer;
}
.color i{
  color: #fff;
  font-size: 20px;
  margin-left: 10px;
  margin-top: 10px;

}
.color-box{
  height: 180px;
  width: 200px;
  background: white;
  position: relative;
  top: -33px;
  left: 240px;
  padding : 10px;
  box-shadow: 0px 0px 5px black;

}
.color-box h4{
  text-align: center;
  border-bottom: 1px solid #ddd;
  padding : 10px;
  font-size: 20px;
}
#indigo{
  height : 25px;
  width: 25px;
  margin-right: 8px;
  border-radius: 50%;
  background: #6610F2;
  display: inline-block;
  cursor: pointer;
}
#blue{
  height : 25px;
  width: 25px;
  margin-right: 8px;
  border-radius: 50%;
  background: #007BFF;
  display: inline-block;
  cursor: pointer;
}
#purple{
  height : 25px;
  width: 25px;
  margin-right: 8px;
  border-radius: 50%;
  background: #6F42C1;
  display: inline-block;
  cursor: pointer;
}
#cyan{
  height : 25px;
  width: 25px;
  margin-right: 8px;
  border-radius: 50%;
  background: #17A2B8;
  display: inline-block;
  cursor: pointer;
}
#red{
  height : 25px;
  width: 25px;
  margin-right: 8px;
  border-radius: 50%;
  background: #DC3545;
  display: inline-block;
  cursor: pointer;
}
#pink{
  height : 25px;
  width: 25px;
  margin-right: 8px;
  border-radius: 50%;
  background: #E83E8C;
  display: inline-block;
  cursor: pointer;
}
#green{
  height : 25px;
  width: 25px;
  margin-right: 8px;
  border-radius: 50%;
  background: #28A745;
  display: inline-block;
  cursor: pointer;
}
#yellow{
  height : 25px;
  width: 25px;
  margin-right: 8px;
  border-radius: 50%;
  background: #FFC107;
  display: inline-block;
  cursor: pointer;
}
#orange{
  height : 25px;
  width: 25px;
  margin-right: 8px;
  border-radius: 50%;
  background: #FD7E14;
  display: inline-block;
  cursor: pointer;
}
#brown{
  height : 25px;
  width: 25px;
  margin-right: 8px;
  border-radius: 50%;
  background: #795548;
  display: inline-block;
  cursor: pointer;
}



@media (min-width:992px) {
  .experiance .experiance-child {
    border-right: 1px dotted #ddd;
    padding: 13px 0;
  }
  .experiance .experiance-child:last-child{
    border : none;
  }
  .design{
    max-width: 30%;
    margin-right: 3%;
  }
}
@media (max-width:1199px) {
  .title h1{
    font-size: 115px;
  }
  .client h4{
    font-size : 20px;
  }
  .client h5{
    font-size: 18px;
  }
  .client p{
    font-size : 14px;
  }
}
@media (max-width:991px) {
  .about-me{
    max-width: 100%;
    padding-left: 0;
  }
  .experiance .experiance-child {
    border-right: 1px dotted #ddd;
    border-bottom: 1px dotted #ddd;
    padding: 13px 0;
  }
  .experiance .experiance-child:nth-child(even) {
    border-right: none;
    padding: 13px 0;
  }
  .experiance .experiance-child:nth-child(3), .experiance-child:nth-child(4) {
    border-bottom: none;
  }
  .title h1{
    font-size : 100px;
  }

  .name{
    width: 100%;
    margin-right: 0%;
  }
  .mail{
    width: 100%;
    margin-left: 0%;
  }
  .design{
    max-width: 47%;
    margin-right : 3%;
  }

}
@media (max-width:767px) {
  .title h1{
    font-size : 70px;
  }
  .title h2{
    font-size : 26px;
  }
  .top-name{
    font-size : 24px;
    margin-top : 5px;
  }
  .typed{
    font-size : 36px;
  }
  .client h4{
    font-size : 26px;
  }
  .client h5{
    font-size: 23px;
  }
  .client p{
    font-size : 18px;
  }
}


@media (max-width:575px) {
  .title h1{
    font-size : 50px;
  }
  .title h2{
    font-size : 16px;
  }
  .title span{
    margin-left : 0%;
  }
  .design{
    max-width: 100%;
    margin-right: 0;
  }
  .top-name{
    font-size : 16px;
    margin-top : 2px;
  }
  .typed{
    font-size : 32px;
  }
  .experiance .experiance-child{
    border-right: none;
    border-bottom: 1px solid #ddd !important;
  }
  .experiance .experiance-child:last-child{
    border-bottom: none !important;
  }
  .client h4{
    font-size : 20px;

  }
  .client h5{
    font-size: 18px;

    margin-bottom : 20px;
  }
  .client p{
    font-size : 16px;
  }
}
